<section class="section checkout">
  <div class="container">
    <div class="checkout__layout">
      <div class="checkout__summary">
        <h2 class="checkout__summary_title">
          Resumen de la orden
        </h2>
        <div class="checkout__summary_container">
          <% for(const item of cart.items) { %>
          <div class="checkout__item">
            <div class="checkout__item-image">
              <img src="<%= item.product.imgSrc %>" alt="<%= item.product.title %>" class="checkout__item-image-content" />
            </div>
            <div class="checkout__item-details">
              <h3 class="checkout__item-title">
                <%= item.product.title %>
              </h3>
              <div class="checkout__item-price">
                <p><%= item.quantity %></p>
                <!-- X icon -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="checkout__item-price-icon">
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
                <p>$<%= item.product.price.toFixed(2) %></p>
              </div>
            </div>
          </div>
          <% } %>
          <div class="checkout__total">
            <p>Total</p>
            <p>$<%= (cart.totalAmount).toFixed(2) %></p>
          </div>
        </div>
      </div>
      <form class="checkout__form" method="post" action="/orders">
        <legend class="checkout__legend">
          Información de contacto
        </legend>
        <div class="input-field">
          <label for="email">Correo electrónico</label>
          <input id="email" name="email" type="email" autocomplete="email" required />
        </div>
        </fieldset>
        <div class="separator checkout__separator"></div>
        <fieldset>
          <legend class="checkout__legend">
            Información de envío
          </legend>
          <div class="checkout__form-fields">
            <div class="input-field">
              <label for="firstName">Nombre</label>
              <input id="firstName" name="firstName" autocomplete="given-name" required />
            </div>
            <div class="input-field">
              <label for="lastName">Apellido</label>
              <input id="lastName" name="lastName" autocomplete="family-name" required />
            </div>
            <div class="input-field">
              <label for="company">Compañia</label>
              <input id="company" name="company" autocomplete="organization" />
            </div>
            <div class="input-field">
              <label for="address">Dirección</label>
              <input id="address" name="address" autocomplete="street-address" required />
            </div>
            <div class="input-field">
              <label for="city">Ciudad</label>
              <input id="city" name="city" autocomplete="address-level2" required />
            </div>
            <div class="select-field">
              <label for="country">País</Label>
              <select id="country" name="country" autocomplete="country" required>
                <option value="">Seleccionar país</option>
                <% for(const option of options) { %>
                <option value="<%= option.value %>">
                  <%= option.label %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="input-field">
              <label for="region">Provincia/Estado</label>
              <input id="region" name="region" autocomplete="address-level1" required />
            </div>
            <div class="input-field">
              <label for="zipCode">Código Postal</label>
              <input id="zipCode" name="zipCode" autocomplete="postal-code" required />
            </div>
            <div class="input-field">
              <label for="phone">Teléfono</label>
              <input id="phone" name="phone" autocomplete="tel" required />
            </div>
          </div>
        </fieldset>
        <button type="submit" class="button button--xl checkout__submit">
          Confirmar Orden
        </button>
      </form>
    </div>
  </div>
</section>