<body>
  <section class="hero">
    <div class="container hero__container">
      <h2 class="hero__title">Nuevos productos disponibles</h2>
      <p class="hero__text">
        Un pequeño lote de increíbles productos acaba de llegar.
        <br />
        Agrega tus favoritos al carrito antes que se agoten.
      </p>
      <a href="/polos" class="button button--xl">Compra ahora</a>
    </div>
  </section>

  <section class="categories">
    <div class="container">
      <div class="categories__header">
        <h2 class="categories__title">Compra por categoría</h2>
        <p class="categories__description">
          Explora nuestra selección de productos especialmente diseñados
          para desarrolladores web.
          <br class="categories__description-break" />
          Encuentra lo que buscas navegando por nuestras categorías de
          polos, tazas, stickers y más.
        </p>
      </div>
      <div class="categories__grid">
        <% for(const category of categories) { %>
        <a href=<%= category.slug %> class="category">
          <div class="category__image">
            <img src=<%= category.imgSrc %> alt=<%= category.alt || category.title %> />
          </div>
          <div>
            <h3 class="category__title"><%= category.title %></h3>
            <p class="category__description">
              <%= category.description %>
            </p>
          </div>
        </a>
        <% } %>
      </div>
    </div>
  </section>
</body>
